<% if current_user %>

<%- model_class = Map -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>



<%= render :partial => 'form' %>

<!-- This is a client side validation for the image -->
<script>
  function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (2 MB)";
  var extErrorMessage = "Only image file with extensions: .jpg, .jpeg, .gif or .png are allowed";
  var allowedExtension = ["jpg", "jpeg", "gif", "png"];

  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;

  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };

  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}
</script>



<% else %><!-- else and end for <%# if current_user.project_ids.include? @project.id %> -->
  <h2>You are not authorized to be here. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %><!-- END <%# if current_user.project_ids.include? @project.id %> -->
