<% if current_user %>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4" style="">
        <h1>Editing User Avatar</h1>

            <%= render 'form' %>
            <%#= render 'form', user_avatar: @user_avatar %>

    </div>
</div>

<% else %><!-- else and end for <%# if current_user.project_ids.include? @project.id %> -->
  <h2>You are not authorized to be here. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %><!-- END <%# if current_user.project_ids.include? @project.id %> -->