<h1>Quick Example - Mapping with Leaflet.js</h1>

<p>
    This app has user authenication with Devise, and mapping with leaflet.js 
    and drawing shapes with Leaflet Draw. 
    I figured out a clever way to allow clicks on the mapimage to create coordinates in an array
    that leaflet understands. (You can see it in action in Areas#new and Areas#edit - it's commented)
</p>

<h4>...and now we build!</h4>