<h1>Hello, Dreamer!</h1>
<h3>Basic set-up with a User Model, Devise for user authentication</h3>


<h4># Devise Sandbox - Just setting this up quick for fun and to test a few options.
Basic set-up with a User Model, Devise for user authentication.<br><br>
I added a couple of fields on top of what Devise adds to the User model.<br>
Also allowed it to be able to be edited.<br><br>
...and now we build!</h4>