<h1>Quick Example - Mapping with Leaflet.js</h1>

<p>
    This app has user authenication with Devise, and mapping with leaflet.js. 
    I figured out a clever way to allow clicks on the mapimage to create coordinates in an array
    that leaflet understands.
</p>

<h4>...and now we build!</h4>