<% if current_user && current_user.id == @mapimage.map.user_id || current_user.is_admin? %>

<%- model_class = Mapimage -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>

<% else %><!-- else and end for <%# if current_user.project_ids.include? @project.id %> -->
  <h2>You are not authorized to be here. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %><!-- END <%# if current_user.project_ids.include? @project.id %> -->
