//bootstrap clean-up
body {margin:0 !important;}
//bootstrap clean-up END

//form stuff
.form-control-image {
    vertical-align: top;
    height:18pt;
    margin-top:0;
    margin-bottom:0;    
    border-radius:4px;
    margin-right:4px;
}

.form-control-button {
    vertical-align: top;
    font-size:20pt;
    line-height:18pt;
    margin-top:0;
    margin-bottom:0;
    margin-right:4px;
}

.form-control {
    height:38px;
}

.form-control-button {
    vertical-align: middle;
    font-size: 16pt; }
//form stuff END
    
//small button clean-up  
.btn-xs {width:52px;margin-bottom:1px;}
a.btn-primary:visited, a.btn-danger:visited {color:#fff;}
a.btn-default:visited {color:#333;}
//small button clean-up END